{# empty Twig template #}

{% extends "master.html.twig" %}

{% block title %}Add Property{% endblock %}

{% block content %}

    {% if errorList %}
        <ul class="errorList">
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Postal Code <input type="text" name="postalCode" value="{{v.postCode}}"><br>
        Address <input type="text" name="address" value="{{v.address}}"><br>
        Image: <input type="file" name="image"><br>
        Phone Number <input type="number" name="phonenumber" value="{{v.phoneNumber}}" ><br>
        Number of Bedroom <input type="number" name="numberofbedroom" value="{{v.numberOfBedroom}}"><br>
        Price <input type="number" name="price" value="{{v.price}}" ><br>
        Year of build <input type="number" name="Year" value="{{v.yearOfBuild}}" ><br>
        status<input type="text" name="status" value="{{v.status}}" ><br>


        <input type="submit" value="Add Property">
    </form>

{% endblock content %}


